<kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter"
    [sortable]="true" [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)">
    <kendo-grid-column field="name" title="Name"></kendo-grid-column>
    <kendo-grid-column field="age" title="Age"></kendo-grid-column>
    <kendo-grid-column field="hobbies" title="Hobbies">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.hobbies.join(', ') }}
        </ng-template>
    </kendo-grid-column>
</kendo-grid>